/* THIS IS MY STYLE SHEET FOR GD 2 PROJECT 1 */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  background-color: black;
  margin-left: 0;
}

/* .banner {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  TBD
} */

.title {
  font-weight: 900;
  font-size: 200px;
  margin-left: 0;
  padding-left: 0;
  display: block;
  text-align: center;
}
.title2 {
  font-weight: 900;
  font-size: 50px;
  letter-spacing: .6em;
  Margin-top: -1.5em;
  display:block;
  text-align: center;
}


.stanza1 {
  margin-top: 70em;
}
      .keep {
        margin-left: 10%;
      }
      .hands {
        margin-left: 20%;
      }
      .to {
        margin-left: 35%;
      }
      .myself {
        margin-left: 45%;
      }
      .dust {
        font-weight: 800;
        font-size: 50px;
        margin-top: 1.5em;
        display: block;
      }
      .shelf {
        width: 1em;
        font-size: 70px;
        font-weight: 600;
        margin-left: 25%;
        display: block;
      }
      .girl {
        font-size: 40px;
        font-style: italic;
        float: right;
        display: inline;
        margin-top: -6em;
        width: 60%;
      }
      .field{
        font-size: 50px;
        margin-left: 25%;
      }


.stanza2 {
  margin-top: 20em;
}
      .woo {
        font-weight: 800;
        font-size: 150px;
      }
      .woolimit {
        overflow-x: hidden;
      }
      .rebel {
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 1.2em;
        margin-top: -1em;
        display: block;
        background: red;
      }
      .feeling {
        font-size: 60px;
        margin: 4em;
        text-align: center;
      }
      .might {
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 1.2em;
        margin-top: -1em;
        display: block;
      }

.stanza3 {
  margin-top: 50em;
}
      .feed {
        font-size: 7vw;
      }
      .leave {
        letter-spacing: .7em;
        margin-top: 12em;
      }
          .her{
          font-size: 1.5em;
          font-weight: 900;
          }
      .mama {
        text-align: right;
        letter-spacing: .7em;
        margin-top: 5em;
      }
          .grave {
            font-size: 1.5em;
            font-weight: 900;
          }
      .gone {
      }
      .with {
        margin-left: 15%;
      }
      .the {
        margin-left: 30%;
      }
      .fallen {
        margin-left: 45%;
      }
      .leaves {
        margin-left: 60%;
      }
      .field2 {
        font-size: 30px;
        margin-left: 25%;
        word-spacing: 1.2em;
        margin-left: 0;
      }
.stanza4 {
  margin-top: 25em;
}
      .fight {
        word-spacing: 5em;
      }
      .war {
        font-weight: 900;
        font-size: 100px;
      }
      .ontop {
        font-style: italic;
        font-weight: 700;
        letter-spacing: .9em;
        color: red;
        margin-top: -6em;
      }
      .living {
        word-spacing: .7em;
        background-color: red;
        padding: .5em;
        margin-top: 5em;
      }
      .flipping {
        font-weight: 700;
        font-size: 25px;
        word-spacing: .2em;
        display: block;
        text-align: center;
        margin-top: 8em;
        margin-bottom: 8em;
        transition: 3s;
        transition-timing-function: ease-in-out;
      }
            .flipping:hover {
              transform: rotate(4320deg);
            }
            .enemy {
              color: red;
            }
      .wave {
        margin-bottom: 5em;
        word-spacing: .7em;
        background-color: red;
        padding: .5em;
        margin-top: 5em;
      }
      .ontop2 {
        font-style: italic;
        font-weight: 800;
        letter-spacing: .9em;
        color: red;
        margin-top: -4.5em;
        margin-bottom: 5em;
      }
      /* other staircases resuses previous classes */
      .give {
        margin-left: 31%;
      }
      .little {
        margin-left: 55%;
      }
      .tip {
        margin-left: 68%;
      }
      .middle {
        font-size: 70px;
        font-weight: 600;
        /* word-spacing: 6em; */
        width: 1em;
        margin-left: 31%;
        display: block;
      }
      .move {
        margin-top: 5em;
      }
      .over {
        margin-left: 15%;
      }
  .stanza5 {
    text-align: center;
    margin-top: 25em;
  }
      .coming2 {
        font-size: 20px;
        margin: 7em;
      }
      .comingback {
        letter-spacing: .8em;
        font-size: 25px;
        color: red;
      }
      .back {
        font-weight: 900;
        font-style: oblique;
      }
  .stanza6 {
      margin-top: 20em;
  }
      .for {
        margin-left: 48%;
      }
      .heart {
        margin-left: 60%
      }
      .eclipse {
        font-size: 25px;
        margin-left: 80%
      }
      .might2 {
        margin-top: 1em;
        font-size: 50px;
        background: red;
      }

  .lastlines {
    font-size: 75px;
    font-weight: 900;
    text-align: center;
    margin-top: 2em;
  }
